@use "fonts";
@use "colors" as *;
@use "mixins" as *;
@use "_hero" as *;
@use "variables" as *;

html {
  font-size: 100%; //more accessible for zoom levels
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  color: $darkBlue;
  line-height: 1.15;
}

h1 {
  font-size: $font-lg;
  margin-bottom: 1.5rem;
  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;

  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
  font-size: 2.25rem;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: fonts.$publicSans;
  font-size: 1.125rem;
  color: $grayishBlue;
  line-height: 1.3;
  &.noscroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button,
.button {
  display: inline-block;
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  font-weight: 400;
  font-size: $font-sm;
  color: $white;
  &:hover {
    opacity: 0.75;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
