@use "colors" as *;
@use "variables" as *;
@use "animations";

.header {
  nav {
    position: relative; //doubt
    background-color: white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $darkBlue;
      transform-origin: 7px 1px;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }

  &__menu {
    background-color: $white;
    margin: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 3rem);
  }
  &__menu a {
    padding: 0.625rem;
    color: $darkBlue;
    display: block;
    text-align: center;
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms;
      position: relative;
      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::before {
        content: "";
        background-color: $limeGreen;
        width: 100%;
        height: 2px;
        position: absolute;
        display: block;
        bottom: -20px;
        opacity: 0;
        transition: opacity 300ms;
      }

      &:hover {
        color: $darkBlue;
        // border-bottom: $limeGreen 2px solid;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    &:hover {
      opacity: 0.75;
    }
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient($darkBlue, transparent);
}
