// @use "colors" as *;

// @media (prefers-color-scheme: dark) {
//     img {
//         filter: brightness(.8) contrast(1.2);
//     }

//     .header {
//         background-color: black;

//         .container {
//             background-color: black;
//             color: white;
//         }

//         img {
//             content: url("/images/logo-dark.svg");
//         }

//         &__toggle>span {
//             background-color: white !important;
//         }

//         a {
//             color: white !important;
//             ;
//         }
//     }

//     .hero {
//         background-color: black;
//         color: white;

//         h1 {
//             color: #2eb985;
//             ;
//         }
//     }


//     .feature {
//         background-color: #121212 !important;
//         color: white;

//         h2,
//         h3 {
//             color: #30c88c;
//         }
//     }

//     .articles {
//         background-color: black !important;
//         color: white;

//         h2,
//         h3 {
//             color: #30c88c;
//         }
//     }

//     .article {
//         &__text {
//             background-color: #121212;
//         }

//         &__title {
//             color: #30c88c !important;
//         }

//         &__description {
//             color: white !important;
//         }

//         &__item {
//             background-color: black !important;
//         }
//     }

//     .footer {
//         background-color: #0f0f11 !important;
//     }
// }