@use "mixins" as *;

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--pall {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }
  }

  &--px {
    //padding in x-axis
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--py {
    //padding in y-axis
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }
  }

  &--pt {
    padding-top: 4.375rem;
    @include breakpoint-up(large) {
      padding-top: 2.25rem;
    }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-bottom: 2.25rem;
    }
  }
  &--pl {
    padding-left: 1.5rem;
  }
}
